img {
  width: 30%;
  margin: calc(10% / 6);
}

nav {
  font-family: "Roboto Mono", monospace;
  text-transform: full-width;
  font-size: 1.5em;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 6);
  padding: 1.5em 0;
}
